---
import GuideShell from '../../layouts/GuideShell.astro';
---

<GuideShell
  title="Guides"
  description="Foliole Guides"
  entries={[]}
>
  <h1 id="guide-title" class="sr-only">Guides</h1>
</GuideShell>
