---
import GuideShell from '../../layouts/GuideShell.astro';
---

<GuideShell
  title="Guide"
  description="Foliole Guide"
  entries={[]}
>
  <h1 id="guide-title" class="sr-only">Guide</h1>
</GuideShell>
